<section id="bloodPresure">
	<div class="container">
		<div class="bg-content">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12">
					<!-- Header  -->
					<div class="treatment-details">
						<div class="title">
							<a routerLink='/profile/details' title="Back" class="pull-left back-arrow">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</a>
							<h5>Hypertension Managment</h5>
						</div>
						<h5>for Ventaka N</h5>
						<div class="blood-presure-title">
							<h5>Your Current Blood Presure</h5>
						</div>
					</div>
					<!-- Content -->
					<div class="details-bg">
						<div class="bp-container">
							<div class="date">
								<span>Date</span>
								<a href="#" title="Date" class="pull-right">30-Apr-2018</a>
							</div>
							<div class="time">
								<span>Time</span>
								<a href="#" title="Time" class="pull-right">PM 11:50</a>
							</div>
							<div class="systolic">
								<span>Systolic</span>
								<a href="#" title="Systolic" class="pull-right">120 mmHg</a>
							</div>
							<div class="diastolic">
								<span>Diastolic</span>
								<a href="#" title="Diastolic" class="pull-right">80 mmHg</a>
							</div>
							<div class="pulse">
								<span>Pulse Rearings</span>
								<a href="#" title="Pulse" class="pull-right">80 Beats/Min</a>
							</div>
							<div class="notes">
								<textarea class="form-control" rows="5" name="notes" placeholder="Add notes..."></textarea>
							</div>
							<div class="finish-btn">
								<button type="button" class="btn btn-info">Done</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>