#bloodPresure {
	height: 100%;
	background-color: #0c63ee;
	overflow: auto;
}

.bg-content {
	background-image: url('/assets/images/bg.png');
	background-size: cover;
	background-position: initial;
	background-repeat: no-repeat;
	height: 100%;
}
.row {
	margin-left: .5rem;
	margin-right: .5rem;
}
/* Header */
	.treatment-details {
		margin-bottom: 1.5rem;
		padding-top: 1rem;
	}
	.title {
		display: block;
		text-align: center;
	}
	.back-arrow {
		font-size: 30px;
		color: #fff;
		margin-right: .5rem;
	}
	.treatment-details h5 {
		margin-bottom: 0;
		color: #fff;
	}
	.title > h5 {
		padding-top: .5rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.treatment-details > h5,
	.blood-presure-title > h5{
		text-align: center;
	}
/* End Header */

/* Container */
	.details-bg {
		padding: .5rem;
		border: 1px solid transparent;
		border-radius: 20px;
		background: linear-gradient(#20b3bc 2%, #ffffff64 3%, #ffffff61 0%);
	}
	.bp-container {
		background-color: #fff;
		border-radius: 20px;
		padding: 1rem;
	}
	.bp-container > div {
		padding: .5rem 1rem;
		margin: 1rem  0;
		position: relative;
	}
	.bp-container > div a {
		cursor: pointer;
		color: #007bff;
		text-decoration: none;
		background-color: transparent;
	}
	.bp-container > div a:hover {
		color: #0056b3;
		text-decoration: underline;
	}
	.bp-container > div:not(:last-child) {
		border: 1px solid #0c63ee;
		border-radius: 50px;
	}
	.notes {
		border: 0!important;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	textarea {
		border-color: #0c63ee;
		border-radius: 15px;
	}
	.finish-btn {
		text-align: right;
		padding: 0!important;
		margin: 0!important;
	}
	.finish-btn button {
		border-radius: 50px;
		border-color: #0c63ee;
		background-color: #0c63ee;
		padding: .2rem 2.5rem;
		font-size: 1rem;
		box-shadow: 2px 2px #000;
	}
	.finish-btn button:hover {
		opacity: .7;
	}
/* End Container */


/* Calendar */
