<div id="sidenav" class="sidenav">
	<div class="sidenav-container">
		<section id="user_info">
			<div class="user-info">
				<div class="user-icon">
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div class="user-name">
					<h6>Krishina ketty</h6>
				</div>
				<div class="logo-container pull-right">
					<a (click)="closeNav()">
						<img src="{{logo}}" alt="logo"/>
					</a>
				</div>
			</div>
			<div class="user-details">
				<div class="user-email">
					<a href="mailto:krishinashetty000@gmail.com" title="krishinashetty000@gmail.com">krishinashetty000@gmail.com</a>
				</div>
				<div class="user-phone">
					<span>+23657984546716</span>
				</div>
			</div>
		</section>
		<div class="logout">
			<button type="submit" class="btn btn-primary pull-right">Logout</button>
		</div>
	</div>
</div>

<div class="container-fluid" id="main">
	<router-outlet></router-outlet>
</div>