<section id="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 offset-md-2 col-md-8">
				<div id="logo-container">
					<a href="#" *ngIf="!isLoginShow" (click)="backEvent()" title="Back" class="pull-left">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
					</a>
					<img src="{{logo}}" alt="logo"/>
				</div>
			</div>
			<div class="offset-sm-3 col-sm-6 offset-md-4 col-md-4" id="login-via-number">
				<div class="enter-code" *ngIf="isEnterCodeShow" >
					<h5>Enter Code</h5>
				</div>
				<div class="phone-message" *ngIf="isEnterCodeShow" >
					<p>We have send you an SMS on +23948528352<br/>
						with 6-digit verification code (OTP).
					</p>
				</div>
				<div class="login-via-phone" *ngIf="isEnterPhoneNumberShow || isEnterCodeShow" >
					<span>
						<i class="fa fa-mobile" aria-hidden="true"></i>
						Login via phone number and OTP
					</span>
				</div>
				<form id="login_form" method="post" accept-charset="utf-8" *ngIf="isEnterCodeShow">
					<div class="form-group" id="sms_code">
						<input class="form-control" maxlength="1" type="text" placeholder="1" value="">
						<input class="form-control" maxlength="1" type="text" placeholder="2" value="">
						<input class="form-control" maxlength="1" type="text" placeholder="3" value="">
						<input class="form-control" maxlength="1" type="text" placeholder="4" value="">
						<input class="form-control" maxlength="1" type="text" placeholder="5" value="">
						<input class="form-control" maxlength="1" type="text" placeholder="6" value="">
					</div>
					<button type="button" class="btn btn-info">Login</button>
				</form>
				<form *ngIf="isEnterPhoneNumberShow" action="continue_submit" method="post" accept-charset="utf-8">
					<div class="form-group">
						<input type="text" name="phone-number" class="form-control" value="" placeholder="Enter your phone number">
					</div>
					<button type="submit" class="btn btn-info" (click)="submitPhoneNumber()">Continue</button>
				</form>
			</div>
			<div class="col-sm-12 offset-md-2 col-md-8">
				<div id="phrase-container">
					<img src="{{backgroundImage}}" alt="login-phrase"/>
				</div>
			</div>
		</div>
		<div class="row login" *ngIf="isLoginShow">
			<div class="col-sm-12 offset-md-2 col-md-8 login-gmail-container">
				<div class="login-gmail">
					<button type="submit" class="btn btn-danger" (click)="loginWithGmail()">
						<span class="icon-container">
							<i class="fa fa-google" aria-hidden="true" title="Login with gmail"></i>
						</span>
						<span class="text-container"><b>Login with gmail</b></span>
					</button>
				</div>
			</div>
			<div class="col-sm-12 offset-md-2 col-md-8">
				<span id="or">Or</span>
			</div>
			<div class="col-sm-12 offset-md-2 col-md-8">
				<div class="login-phone">
					<button type="button" class="btn btn-success" (click)="loginWithGmail()">
						<span class="icon-container">
							<i class="fa fa-mobile" aria-hidden="true" title="Login via phone and OTP"></i>
						</span>
						<span class="text-container"><b>Login via phone number and OTP</b></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>