section {
	height: 100%;
}

.container-fluid {
	height: 100%;
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
	background-color: #0c63ee;
	padding-bottom: 70px;
}

#phrase-container img {
	height: 100%;
}

#logo-container a i {
	color: #fff;
	font-size: 25px;
}

#logo-container img {
	width: 75px;
}

.login-gmail-container {
	margin-top: 1rem;
}

.login {
	padding-bottom: 5%;
}

.login-gmail,
.login-phone {
	margin: .5rem 0;
}

.login-gmail button,
.login-phone button {
	padding: 0;
	border-color: none!important;
}

.btn-danger {
	background-color: #f80c00!important;
}

.btn-success {
	background-color: #0ff320!important;
}

.text-container {
	margin: 0;
	font-size: 13px;
}

.btn-danger .icon-container i {
	font-size: 16px;
	border-radius: inherit;
	padding: .5rem;
	background-color: #db4c3e;
	border-color: #db4c3e;
}


.btn-danger .text-container {
	background-color: #f80c00!important;
	padding-right: 4rem;
	padding-left: 3.63rem;
}

#or {
	color: #d4d4d4;
	font-weight: 300;
	font-size: 16px;
}

.btn-success .icon-container i {
	font-size: 26px;
	width: 30px;
	border-radius: inherit;
	padding: .2rem .5rem;
	background-color: #09d10e;
	border-color: #09d10e;
}

.btn-success .text-container {
	background-color: #0ff320!important;
	padding-left: .5rem;
	padding-right: .5rem;
	vertical-align: super;
}

#login-via-number,
form {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

#login-via-number input,
#login-via-number button {
	border-radius: 50px;
}

#sms_code input {
	display: initial;
	text-align: center;
	width: 40px;
	padding-left: .5rem;
	padding-right: .5rem;
	border-radius: 0;
	border-style: none none solid none;
	background-color: #0c63ee;
	border-width: 2px;
	color: #fff;
	margin-right: .5rem;
}

#sms_code input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: .3;
}
/* Internet Explorer 10-11 */
#sms_code input:-ms-input-placeholder {
	color: #fff;
	opacity: .3;
}
/* Microsoft Edge */
#sms_code input::-ms-input-placeholder {
	color: #fff;
	opacity: .3;
}

.form-control:focus {
	box-shadow: none;
}

.enter-code,
.phone-message,
.login-via-phone {
	color: #fff;
	text-align: left;
	margin: .5rem;
}

.login-via-phone i {
	font-size: 20px;
	padding: 4px 5px 3px 0;
	vertical-align: middle;
	border-right: 1px solid #fff;
}

.login-via-phone span {
	padding: .4rem;
	border: 1px solid #fff;
	border-radius: 10px;
}

.btn-info {
	color: #0c63ee;
	background-color: #fff!important;
	padding: .3rem 2rem;
	box-shadow: 2px 3px #000;
}

@media only screen and (max-width: 768px) {
	.enter-code,
	.phone-message,
	.login-via-phone {
		text-align: center;
	}
}

@media only screen and (max-width: 785px) {
	.login-via-phone {
		margin: .5rem 0;
	}
	.enter-code,
	.phone-message {
		margin: .5rem 0;
	}
}

@media only screen and (max-width: 1050px) {
	#sms_code input {
		margin-right: 0;
		width: 30px;
	}
}
