<section id="question">
	<div class="container">
		<div class="bg-content">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12">
					<!-- Header  -->
					<div class="treatment-details">
						<div class="title">
							<a routerLink='/profile' title="Back" class="pull-left back-arrow">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</a>
							<h5>Hypertension Managment</h5>
						</div>
						<h5>for Ventaka N</h5>
						<div class="question-title">
							<h5>Health Questionnaire</h5>
						</div>
					</div>
					<!-- Content -->
					<div class="question-bg">
						<div class="question-container">
							<div class="logo-container">
								<!-- <button type="button" class="btn btn-info pull-left">Previous</button> -->
								<div class="logo">
									<img class="img-fluid" src="../../../assets/images/logo.png" title="Health Pray" width="75px">
								</div>
							</div>
							<div class="bg-separate">
								<img class="img-fluid" src="../../../assets/images/question_bg.png">
							</div>
							<div class="question-answer">
								<h2 class="question">Have you already been examined?</h2>
								<form action="" method="post" accept-charset="utf-8">
									<div class="answer">
										<!-- Radio Buttons Page1-->
										<div class="form-check">
											<label>
												<input type="radio" name="radio" checked>
												<span class="label-text">Yes</span>
											</label>
											<span class="line"></span>
										</div>
										<div class="form-check">
											<label>
												<input type="radio" name="radio">
												<span class="label-text">No</span>
											</label>
										</div>

										<!-- Checkboxes Page2-->
										<div class="form-check">
											<label>
												<input type="checkbox" name="check" checked>
												<span class="label-text">Head</span>
											</label>
										</div>
										<div class="form-check">
											<label>
												<input type="checkbox" name="check" checked>
												<span class="label-text">Back</span>
											</label>
										</div>
										<div class="form-check">
											<label>
												<input type="checkbox" name="check">
												<span class="label-text">Body</span>
											</label>
										</div>
										<div class="form-check">
											<label>
												<input type="checkbox" name="check">
												<span class="label-text">Legs</span>
											</label>
										</div>

										<!-- Page 3 -->
										<div class="form-group" id="diseases">
											<input type="text" name="disease" class="form-control">
										</div>

										<!-- Radio Buttons Page4-->
										<div class="form-check">
											<label>
												<input type="radio" name="radio" checked>
												<span class="label-text">From today</span>
											</label>
											<span class="line"></span>
										</div>
										<div class="form-check">
											<label>
												<input type="radio" name="radio">
												<span class="label-text">Week</span>
											</label>
											<span class="line"></span>
										</div>
										<div class="form-check">
											<label>
												<input type="radio" name="radio">
												<span class="label-text">Month</span>
											</label>
										</div>

										<!-- Radio Buttons Page5-->
										<div class="form-check">
											<label>
												<input type="radio" name="radio" checked>
												<span class="label-text">From today</span>
											</label>
											<div class="comment">
												<input class="form-control" name="comment" value="" placeholder="Add comment">
											</div>
											<span class="line"></span>
										</div>
										<div class="form-check">
											<label>
												<input type="radio" name="radio">
												<span class="label-text">Week</span>
											</label>
											<span class="line"></span>
										</div>
										<div class="form-check">
											<label>
												<input type="radio" name="radio">
												<span class="label-text">Month</span>
											</label>
											<span class="line"></span>
										</div>
										<div class="form-check">
											<label>
												<input type="radio" name="radio">
												<span class="label-text">Couple of months</span>
											</label>
										</div>

									</div>
									<div class="skip-next-btn">
										<!-- for page 3 -->
										<!-- <button type="button" class="btn btn-info pull-left">Previous</button> -->
										<!-- for page 3 -->

										<button type="button" class="btn btn-info">Skip</button>
										<!-- <button type="button" class="btn btn-info">Next</button> -->

										<!-- for last page -->
										<!-- <button type="button" class="btn btn-info">Send</button> -->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>