<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="treatment-container">
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patinet-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age">41 years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You can..</p>
							</div>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patinet-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age">41 years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You can..</p>
							</div>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patinet-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age">41 years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You can..</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>