<section id="home">
	<div class="container">
		<div class="bg-content">
		<div class="row" id="profile_header">
			<div class="col-12 col-sm-12 col-md-12">
				<div id="logo-container">
					<img src="{{logo}}" alt="logo"/>
				</div>
				<div class="profile">
					<div class="user-profile">
						<div class="user-icon" type="button" (click)="toggleMenu()" title="Open Menu">
							<span>
								<i class="fa fa-user" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
			<!-- </div> -->
		<!-- </div> -->

		<!-- <div class="row"> -->
			<!-- <div class="col-sm-12 col-md-12"> -->
				<div class="treatment-container">
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					<div class="treatment">
						<h5 class="treatment-title">Hypertension Managment</h5>
						<span class="patient-info">
							<small class="user">for Ventaka N, </small>
							<small class="gender">male </small>
							<small class="age"><i>41</i> years</small>
						</span>
						<hr>
						<div class="treatment-cure">
							<h5 class="doctor-name">Dr Varghese</h5>
							<div class="doctor-message">
								<p>Please go for at last 10 mins walk everyday.
								This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You canPlease go for at last 10 mins walk everyday. This is very important to be healthy. You can</p>
							</div>
							<small class="timestamp pull-right">10 march 9am</small>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</section>